@font-face
{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Josefin Sans'), local('JosefinSans'), url('fonts/JosefinSans__normal.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face
{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url('fonts/JosefinSans__bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  height: 100%;
  width: 100%;
}
body
{
  background: #310d61 url('img/background.png') no-repeat scroll center;
  background-size: cover;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
form
{
  background-color: rgba(0,0,0,0.25);
  border: solid 1px rgba(255,255,255,0.25);
  border-radius: 10px;
  box-shadow: 0 0 1px black;
  height: 170px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: calc(50% - 106px);
  top: -webkit-calc(50% - 106px);
  width: 260px;
}
h1
{
  font-weight: bold;
  text-align: center;
}
.hidden
{
  display: none;
}
form input
{
  background: rgba(0,0,0,0.25) none no-repeat scroll 8px center;
  border: none;
  border-radius: 16px;
  color: white;
  border-bottom: solid 1px rgba(255,255,255,0.25);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 100%;
  margin-top: 20px;
  padding: 8px 10px 8px 32px;
  width: calc(100% - 44px);
  width: -webkit-calc(100% - 44px);
}
form input#auth__email
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAApUlEQVQ4y2NgwAL+/ftnA8T7gfg7FIPYVgzEAJBCIP75Hw2AxIDYghgDdv/HAYByO4kx4CseAz4SY8BvPAZ8JcaA23gMuEqMAbPxGDCdGAMc8BhgQ2xUnsWi+TRRmqEGhGExIIIUA+KwGJCAV9Pfv395gIrcQIGIJyWC5NxAapFt04GmdZzxj8Ww31A9OiADzhOrEYtB5xlIsRmbS0AGkKsfZMB/ADidXGXFeLfJAAAAAElFTkSuQmCC');
}
form input#auth__password
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAb0lEQVQ4y2NgwAL+/funBcSbgfgrFIPYWgzEAKjm90B8FojToPgsVIywIVDbzv79+5cDJgZiQw3ZTIwBICenYREHueQrQQP+AwFQYQgWA0JAcrQzAKQApggI+mF8JPF+mOHYLGD4TyIYNWDUAGQDAMXOSoM5uw/eAAAAAElFTkSuQmCC');
}
.auth__input-group *
{
  display: block;
}
.auth__input-group input
{
}
.auth__input-group button
{
  background: linear-gradient(to bottom, #a6ed45, #258508);
  border: none;
  border-radius: 0 16px 16px 0;
  color: white;
  cursor: pointer;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px 6px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -32px;
  right: 3px;
  width: 80px;
}
.auth__input-group button:active
{
  background: linear-gradient(to top, #a6ed45, #258508);;
}
#auth__preloader
{
  display: none;
}
form.loading #auth__preloader
{
  display: block;
}
form.loading :not(#auth__preloader)
{
  display: none;
}
@keyframes preloader
{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
#auth__preloader
{
  animation: preloader 1s steps(12, end) infinite;
  background: transparent url('img/preloader.png') no-repeat scroll center;
  background-size: 96px;
  height: 100%;
  opacity: 0.5;
  width: 100%;
}
div#profile
{
  background-color: rgba(0,0,0,0.25);
  border: solid 1px rgba(255,255,255,0.25);
  border-radius: 10px;
  box-shadow: 0 0 1px black;
  height: 160px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: calc(50% - 101px);
  top: -webkit-calc(50% - 101px);
  width: 260px;
}
.profile__info > *
{
  display: inline-block;
  vertical-align: top;
}
div#profile img
{
  border: solid 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 1px rgba(255,255,255,0.5);
  height: 80px;
  width: 80px;
}
.profile__info
{
}
.profile__text-data
{
  padding-left: 20px;
  width: calc(100% - 102px);
  width: -webkit-calc(100% - 102px);
}
.profile__text-data span
{
  display: block;
}
#profile__logout
{
  background: linear-gradient(to bottom, #a6ed45, #258508);
  border: solid 1px #203b12;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 33px;
  margin: 30px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
#profile__logout:active
{
  background: linear-gradient(to top, #a6ed45, #258508);
}
#auth__error
{
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
  color: darkred;
  display: none;
  margin-top: 10px;
  padding: 5px;
  position: relative;
}
form.error #auth__error
{
  display: block;
}
form.error #auth__email, form.error .auth__input-group
{
  display: none;
}
.auth__error-close
{
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAk0lEQVQoz3WS4QqAIAyEpQeMiAh/RUQ/ep+I6FFjZN1gxlpOOMrd5zytQERVSmmD6uAMeAu0M8uT48bA84SaAjxDlzCrLRDUKXgyXusZPTR4jfKi0QCfBt7h3q4Kjt5lBIlCasHFTTy4y7CA+n2ycGMAjhZNbc5wzd9AGWMpongLFzd363/UPcivcbxbls/HkVdmHwHiYV6kFg3oAAAAAElFTkSuQmCC') no-repeat scroll center;
  cursor: pointer;
  height: 12px;
  opacity: 0.75;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 12px;
}