@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('fonts/Raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  height: 100%;
  width: 100%;
}
body
{
  color: #a8a8a8;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
input, button
{
  font-family: 'Raleway', sans-serif !important;
}
.hidden
{
  display: none;
}
form
{
  margin: 0 auto;
  height: 100px;
  position: relative;
  top: calc(50% - 50px);
  top: -webkit-calc(50% - 50px);
  width: 400px;
}
form label, form input
{
  display: inline-block;
  margin-bottom: 9px;
  vertical-align: top;
}
form label
{
  font-size: 14px;
  line-height: 38px;
  text-align: right;
  padding-right: 10px;
  width: 90px;
}
form input
{
  background-color: rgba(0,0,0,0.1);
  border: none;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.06);
  border-radius: 5px;
  color: #bbb;
  font-size: 15px;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  width: 280px;
}
body, .auth__button-wrapper, .auth__button-wrapper::before, .auth__button-wrapper::after
{
  background: #404040 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEU3NzcyMjLArR5bAAAADElEQVQI12NoYGAAAAGEAIEo3XrXAAAAAElFTkSuQmCC') repeat scroll left top;
}
.auth__button-wrapper
{
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,0.35);
  height: 48px;
  padding: 8px;
  position: absolute;
  right: -32px;
  top: 10px;
  width: 48px;
}
.auth__button-wrapper::before
{
  content: '';
  height: 10px;
  left: -4px;
  position: absolute;
  top: 27px;
  width: 4px;
}
.auth__button-wrapper::after
{
  bottom: -4px;
  content: '';
  position: absolute;
  right: -4px;
  top: -4px;
  width: 36px;
}
form button
{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAXklEQVRIx+2UsQ0AIAgEncLRXNLRnAGQxkKjicV/QcIl1ucZoZQkHKraRaTSBOa4ZPhpNMGCUmMH8Bp78KwxINcapOBawxBsNSEFtCeCfNmvW4cZNNqqoC47+rpO4EyaOsz3ex6Y6QAAAABJRU5ErkJggg==') no-repeat scroll center, linear-gradient(to bottom, #00a2d3, #0d7796);
  background-size: 24px;
  border: none;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0,0,0,0.16);
  cursor: pointer;
  height: 44px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 44px;
  z-index: 2;
}
#auth__preloader, #auth__error
{
  display: none;
}
form.error > *:not(#auth__error)
{
  display: none;
}
form.loading #auth__preloader, form.error #auth__error
{
  display: block;
}
#auth__error
{
  color: indianred;
  font-size: 14px;
}
@keyframes preloader
{
  from {background-position-x: 0}
  to {background-position-x: 128px}
}
form.loading > *
{
  display: none;
}
#auth__preloader
{
  animation: preloader 0.5s steps(4,end) infinite;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAQAgMAAACjNp8bAAAACVBMVEX///8AAAD///9+749PAAAAAnRSTlOAAE0QVXMAAAAWSURBVCjPY1gFBqGhDGCASY8qGFEKAFfgakGMDN2TAAAAAElFTkSuQmCC') repeat-x scroll left center;
  display: none;
  height: 100px;
  margin: 0 auto;
  opacity: 0.5;
  width: 128px;
}
.auth__error-close
{
  bottom: 0;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  right: 0;
}
#profile
{
  height: 200px;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 100px);
  top: -webkit-calc(50% - 100px);
  width: 400px;
}
.profile__person
{
  margin: 0 auto;
  width: 400px;
}
.profile__person > *
{
  display: inline-block;
  vertical-align: top;
}
.profile__person img
{
  height: 80px;
  width: 80px;
}
.profile__info
{
  padding: 0 0 20px 20px;
  width: 300px;
}
.profile__info span
{
  display: block;
}
#profile__logout
{
  background: linear-gradient(to bottom, #00a2d3, #0d7796);
  border: none;
  border-radius: 13px;
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0,0,0,0.16);
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 26px;
  margin: 0 auto;
  padding: 5px;
  text-transform: uppercase;
  width: 100px;
}